<h1>Login Here!</h1>

<div class="form">
    <%= form_tag do %>
      <div class="">
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </div>
      <div class="">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="session_buttons">
        <%= submit_tag "Sign in", class: "btn btn-lg btn-primary" %>
        <%= link_to "Register", new_user_path, class: "btn btn-lg btn-default" %>
      </div>
  </div>

<% end %>
