<!DOCTYPE html>
<html>
  <head>
    <title>Murinal</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Sign Up", root_path %></li>
        <li><%= link_to "Sign In", root_path %></li>
      </ul>
    </div>
  </nav>

    <div class="container">
      <%= yield %>
    </div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
